target/
.m2-local/
.idea/
.vscode/
*.iml
.classpath
.project
.settings/
Thumbs.db
.DS_Store
*.log

storage/*
!storage/projects/
!storage/renders/
!storage/exports/
!storage/projects/.gitkeep
!storage/renders/.gitkeep
!storage/exports/.gitkeep
